
.parent{
 /* border: 1px solid green; */
 width: 1300px;
 margin-top: 50px;
}



.footer{
  display: flex;
  flex-direction: row;
  /* border: 1px solid gray; */
  height: 300px;
  width: 1200px;
  margin: 10px;
  padding: 10px;
}

.foot{

  text-align: center;
}

.work {
  height: 200px;
  width: 200px;
}

.work p {
  padding-left: 50px;
}